# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Configuración IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp
*.bak

# Base de datos temporal
*.db
*.sqlite3