fastapi
uvicorn[standard]
pandas
openpyxl
sqlalchemy
pymysql
PyJWT
langchain
langchain_core
langchain_openai
langchain_text_splitters
pydantic>=2,<3
python-dotenv
PyJWT
cryptography
passlib
argon2_cffi